* {
  box-sizing: border-box;
  font-family: "Marcellus_SC", Tofu;
}

@font-face {
  font-family: Marcellus_SC;
  src: url(MarcellusSC-Regular.ttf);
}

.App {
  display: flex;

}

.flex {
  display: flex;
}

.w_25 {
  width: 25%;
}

.w_50 {
  width: 50%;
}

.w_40 {
  width: 40%;
}

.w_60 {
  width: 60%;
}

.w_100 {
  width: 100%;
}

#gamesection {
  flex-direction: column;
}

#scoringArea {
  height: 5vh;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}


#topRow {
  height: 55vh;
  /* background: lightcoral; */
  background: #f0808094;
}


#timeline {
  height: 40vh;
  background: lightseagreen;
}

#timeline-wrap {
  max-width: 1100px;
  margin: auto;
}

#displayCard {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
  max-width: 700px;
  width: 100%;
}


.box_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sm_card {
  width: 50%;
  height: 200px;
  background: #dbdbdb;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  /* box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4) */
}

.start_card{
  width: 200px;
  height: 200px;
  background: #f4471b;
  color: #fff;
  font-size: 27px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4)
}

.sm_card2{
  width: 50%;
  height: 200px;
  font-size: 27px;
  background: #dbdbdb;
  border-radius: 5%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.cardHolder {
  margin: 4%;
  background: lightgrey;
  position: relative;
}

.cardoutline {
  /* border:3px dashed grey; */
  height: 400px;
  /* width: 40%; */
  border-radius: 10px;
  max-width: 40%;
  cursor: pointer;
}

.centralCard {
  background-color: antiquewhite;
  margin: 2px;
  border-radius: 10px;
  /* cursor: pointer; */
  /* min-height: 440px;
  max-height: 440px; */
}

.centralCard:hover {
  cursor: pointer;
  /* cursor: url('custom_pointer.png') 10 3, auto; */
}

.centralCardImage:hover {
  /* cursor: url('custom_pointer.png') 10 3, auto; */
}


.centralCardImage {
  width: 100%;
  padding: 10px;
  max-height: 420px;
}

.centralCardText {
  text-align: center;
  padding: 8px;
  padding-top: 0px;
  /* font-family: 'Changa One', cursive; */
  font-family: "Marcellus_SC", Tofu;
  font-weight: 600;
  font-size: 20px;
  text-shadow: 1px 1px 4px #7defd3;
}

#gameTitle {
  font-family: "Marcellus_SC", Tofu;
  font-weight: 600;
  font-size: 32px;
}

.tl {
  position: absolute;
  /* margin: -2px; */
  width: 130%;
  font-size: 2px;
  max-height: 270px;
  min-height: 270px;
}

.timelineCardExit{
  position: absolute;
  /* margin: -2px; */
  width: 130%;
  font-size: 2px;
  max-height: 230px;
  min-height: 230px;
}

.tlImage {}

.tlText {
  font-size: 10px;
}

.tlbtn {
  z-index: 200;
}

.selectCard {
  display: block;
  margin: auto;
}

#score {
  font-size: 24px;
  padding-top: 8px;
}

#time {
  font-size: 24px;
  padding-top: 8px;
}

.gameoverModalCover {
  position: fixed;

  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: #61616177;
}

.gameoverModal {
  position: fixed;

  top: 10%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  background: #fff;
  border-radius: 10px;
  font-size: 40px;
  text-align: center;
  /* vertical-align: middle; */
  padding-top: 8%;
}

#arrowAnim {
  width: 60%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 100%;
  position: absolute;
}

.arrow {
  width: 1.2vw;
  height: 1.2vw;
  border: .5vw solid;
  /* border-color: black transparent transparent black; */
  border-color: transparent white white transparent;
  transform: rotate(-45deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s ease-in-out infinite;
  animation: slide 4s ease-in-out infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(10vw);
  }

  20% {
    opacity: 1;
    transform: translateX(4vw);
  }

  80% {
    opacity: 1;
    transform: translateX(-4vw);
  }

  100% {
    opacity: 0;
    transform: translateX(-10vw);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-10vw);
  }

  20% {
    opacity: 1;
    transform: translateX(-4vw);
  }

  80% {
    opacity: 1;
    transform: translateX(4vw);
  }

  100% {
    opacity: 0;
    transform: translateX(10vw);
  }
}

.gameoverModalScore{

}
.nextRound{
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #0e9189;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgb(157 157 157 / 57%);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.nextRound:hover {
  background-color: #0e9189;
  box-shadow: 0px 8px 15px rgb(157 157 157 / 57%);
  color: #fff;
  transform: translateY(-3px);
}

.divimg{
  height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}